// form in footer

.mailing{
    text-align: center;
    min-width: 450px;
}

.mailing__form {
    display: flex;
    align-items: center;
    gap: 20px;

    flex-direction: column;
}

.mailing label {
    text-transform: uppercase;

    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.mailing input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    width: 100%;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    color: #ffffff;
}

.mailing input:focus {
    outline: none;
    border-color: var(--color-blue);
}

// form in modal window

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-label {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;

    position: relative;
}

.icon-modal {
    width: 18px;
    height: 18px;
    fill: #212121;

    position: absolute;
    top: 29px;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input:focus+.icon-modal {
    fill: var(--color-blue);
}

.modal-form input {
    height: 40px;
    padding-left: 42px;
    padding-right: 24px;
    color: rgba(33, 33, 33, 1);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form textarea {
    resize: none;
    padding: 12px 16px;

    color: rgba(33, 33, 33, 1);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form input:focus,
.modal-form textarea:focus {
    outline: none;
    border-color: var(--color-blue);
}

.label-checkbox {
    display: flex;
    align-items: center;
    gap: 8.4px;

    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;

   padding: 20px 0;
}

.label-checkbox a {
    color: var(--color-blue);
}

.input-checkbox {
    width: 16px;
}

@media screen and (max-width: 768px) {
    .label-checkbox {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px){
    .mailing__form{
        flex-direction: row;
    }
}