.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link--transp {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus,
.link--transp:hover,
.link--transp:focus {
  color: var(--color-blue);
}

.link--opened-page {
  color: var(--color-blue);
  position: relative;
}

.link--opened-page::after {
  content: '';
  display: none;
  background-color: var(--color-blue);
  width: 100%;
  height: 4px;
  border-radius: 2px;

  position: absolute;
  top: 48px;

  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    top: 40px;
  }
}
