.logo-font {
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);

    letter-spacing: 0.03em;
    color: inherit;

    @media screen and (min-width:768px){
        font-size: 26px;
        line-height: 1.19;
    }
}