.clients{
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        width: 170px;
        height: 92px;
    }
    &__icon {
        width: 106px;
        height: 60px;
        fill: #afb1b8;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}