.header-positioning {
  padding: 10px 0;
  @media screen and (min-width: 768px) {
    padding: 21px 0;
  }
  @media screen and (min-width: 1200px) {
    border-bottom: solid 1px #ececec;
  }
}

.nav-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-line__logo-font {
  flex-basis: 145px;
  margin-right: 93px;
}

.nav-line__pages-box {
  display: none;
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.nav__contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: #757575;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.nav-line__contacts svg {
  margin-right: 10px;
}

.envelope-icon {
  width: 16px;
  height: 12px;
  fill: #757575;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: #757575;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-line__contacts:hover .envelope-icon,
.nav-line__contacts:focus .envelope-icon,
.nav-line__contacts:hover .smartphone-icon,
.nav-line__contacts:focus .smartphone-icon {
  fill: var(--color-blue);
}

.mobile-menu-open {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;

  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-open-icon,
.menu-close-icon {
  width: 24px;
  height: 16px;
}

.mob__menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.mob__container {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mob__page {
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
}

.mob__contacts {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.mob__tel {
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--color-blue);
}
.mob__email {
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mob__soc__list {
  display: flex;
  gap: 20px;
  color: var(--color-blue);
}
