.section-hero {
  padding: 118px 0;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-bg-480.jpg);
  background-size: cover;
}

.container-hero {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-hero h1 {
  margin-bottom: 30px;
}

.hero-font {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42px / 26px);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg-480-2x.jpg);
  }
}


@media screen and (min-width: 768px) {
  .section-hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-768.jpg);
  }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .section-hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/hero/hero-bg-768-2x.jpg);
      }
    }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-1600.jpg);
  }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .section-hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/hero/hero-bg-1600-2x.jpg);
      }
    }

  .container-hero {
      width: 696px;
  }
  .hero-font {
    font-size: 44px;
    line-height: calc(60px / 44px);
  }
}
