.section-hero {
    padding: 118px 0;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg.jpg);
    background-size: cover;
}

.container-hero {
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-hero h1 {
    margin-bottom: 30px;
}

.hero-font {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42px/26px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .section-hero {
        padding: 118px 204px;
    }
}
@media screen and (min-width: 1200px) {
    .section-hero {
        padding: 200px 0;
    }
}