.qualities {
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
    }

    &__description {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
    }

    &__item {
        width: 100%;
    }

    &__icgroup {
        width: 100%;
        height: 120px;
        background-color: #f5f4fa;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 768px) {
    .qualities {
        &__list {
            flex-wrap: wrap;
            flex-direction: row;
        }

        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }
        &__title{
            text-align: start;
        }
    }
}

@media screen and (min-width: 1200px) {
    .qualities {
        &__list {
            flex-wrap: nowrap;
        }
        &__item {
            flex-basis: calc((100% - 30px) / 4);
        }
    }
}