.team {
    &__list {
        display: flex;
        gap: 30px;
    }
    &__item {
        width: 270px;
        background-color: #ffffff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__member {
        padding: 30px;
        text-align: center;

        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
        }
        &__description {
            line-height: 1.19;
            letter-spacing: 0.03em;

            color: #757575;
            margin-bottom: 16px;
        }
    }
    &__contact-item {
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
}

.team__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__link:hover .team__icon,
.icon__link:focus .team__icon {
    fill: #ffffff;
}
